<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="r6DDfslc8gFi5ZFrq1TlpON1RxeFGOAElh2BIXGbPk7Dd1FIDxZeASziHDMGJ2arRiFx3LrsHIsdhICdUOZofg==">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <h1>ようこそ <strong>Bookers</strong> へ！</h1>
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    <p>
    <%= link_to "start", "/books" %>
    <p>
  </body>
</html>